.button{
    border: 2px solid rgb(93, 43, 211);
    appearance: none;
    border-radius: 8px;
    padding: 13px 40px;
    margin: 20px;
    line-height: 1;
    background-color: transparent;
    color: rgb(93, 43, 211);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Mochiy Pop P One', sans-serif;
    transition: box-shadow 0.4s ease-in-out, color 0.4s ease-in-out;
}

.button:hover, .button:focus {
    color: #fff;
    outline: 0;
}

.button:hover {
    box-shadow: 0 0 40px 40px rgb(93, 43, 211) inset;
}