.item {
    display: flex;
    border: 2px solid rgba(93, 43, 211, 0.308);
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 2px;
}

.player {
    color: #fff;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.timer {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0 27px 0 auto;
    font-family: 'Mochiy Pop P One', sans-serif;
}