.item {
    display: flex;
}

.player {
    color: #fff;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.timer {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0 0 0 auto;
    font-family: 'Mochiy Pop P One', sans-serif;
}