.card {
    position: relative;
    width: 110px;
    height: 110px;
}

.card img {
    width: 100px;
    height: 100px;
    display: block;
    border: 2px solid black;
    border-radius: 6px;
}

.isMatched {
    transition: opacity 1.5s ease-in;
    opacity: 0;
}

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
    background: rgb(17, 12, 58);
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}
